{% extends "aristotle_mdr/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Home'%}{% endblock %}
{% block header %}
   {% include 'aristotle_mdr/header.html' with hide_search=True %}
{% endblock %}
{% block content %}
<style>
#content
{
	background: none !important;
}
.jumbotron
{
	    background: rgba(0,0,0,.2) !important;
		
}

</style>
<div class="jumbotron">
	<h1>Search the SBR Dictionary</h1>
<!--<p class="text-center">{{ config.SITE_INTRO }}</p>-->
<form id="homeSearch" action="{% url 'aristotle:search' %}" method="get" >
        <input type="text" class="form-control" id="searchText" name="q" accesskey="q"></input>
        <div class="text-center" style="margin-top: 15px;">
            <a href="{% url 'aristotle:search' %}" class="btn btn-default">{% trans 'More options' context "Front page search options" %}...</a>
            <button class="btn btn-primary" type="submit">
                {% trans 'Search' %} <i class="fa fa-search"></i>
            </button>

        </div>
</form>
</div>

<div id="homeFaq" class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 blue">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title"><i class="fa fa-question fa-fw"></i><a href="{% url 'aristotle_help:help_page' 'what-is-metadata' %}">What is metadata?</a></h2>
            </div>
            <div class="panel-body">
                <ul>
                <li><a href="{% url 'aristotle_help:help_page' 'about-isoiec-11179' %}">What is ISO/IEC 11179?</a></li>
                <li><a href="{% url 'aristotle_help:help_page' 'what-is-a-metadata-registry' %}">What is a metadata registry?</a></li>
                <li><a href="{% url 'aristotle:about' 'aristotle_mdr' %}">What is <em>Aristotle-MDR</em>?</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 green">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title"><i class="fa fa-bell fa-fw"></i> About {{ config.SITE_NAME }}</h2>
            </div>
            <div class="panel-body">
            <ul>
                <li>
                <a href="{% url 'aristotle:allRegistrationAuthorities' %}">Current registration authorities</a>
                </li>
                <li>
                	<a href="{% url 'browse_apps' %}">Browse the registry</a>
                </li>
                <li>
                    <a href="{% url 'aristotle:compare_concepts' %}">Compare metadata</a>
                </li>
                {% if config.CONTENT_EXTENSIONS %}
                <li><a href="{% url 'aristotle:extensions' %}">View current extensions</a></li>
                {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 red">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title"><i class="fa fa-cube fa-fw"></i> <a href="{% url 'aristotle:about' 'getting_data' %}">How can I get data?</a></h2>
            </div>
            <div class="panel-body">
                <ul>
                <li><a href="#">What is a data dictionary?</a></li>
                <li><a href="#">Why are data standards important?</a></li>
                <a href="#"></a>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 yellow">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title"><i class="fa fa-plus fa-fw"></i> <a href="">How can I add content?</a></h2>
            </div>
            <div class="panel-body">
                <ul>
                <li><a href="{% url 'aristotle_help:help_page' 'what-are-workgroups' %}">What is a workgroup?</a></li>
                <li><a href="{% url 'aristotle_help:help_page' 'how-does-content-become-visible' %}">How does content become visible?</a></li>
 	            <li><a href="{% url 'aristotle_help:help_page' 'registry-roles' %}">What roles exist within a registry?</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 gray">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title"><i class="fa fa-folder-open fa-fw"></i> <a href="{% url 'aristotle:about' 'metadata_standards' %}">About metadata standards</a></h2>
            </div>
            <div class="panel-body">
                <ul>
                <li><a href="{% url 'aristotle_help:help_page' 'what-makes-a-standard' %}">What makes metadata "standard"?</a></li>
                <li><a href="{% url 'aristotle_help:help_page' 'versioning-content' %}">Versioning content</a></li>
                <li><a href="{% url 'aristotle_help:help_page' 'registration-authorities' %}">What is a registration authority?</a></li>
                </ul>
             </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 purple">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title"><i class="fa fa-info fa-fw"></i> <a href="{% url 'aristotle_help:help_base' %}">Need more help?</a></h2>
            </div>
            <div class="panel-body">
                <ul>
                <li><a href="{% url 'aristotle_help:help_concepts' %}">Help on all registry items</a></li>
                <li><a href="http://aristotle-metadata-registry.rtfd.org/en/latest/">Documentation for programmers</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
